<%- include('./partials/head', 
  { 
    // HEAD data
    title: 'Home',
    description: 'Welcome to the home page',
    image: ''
  }) 
%>
<style>

  .container {
    display: flex;
    justify-content: space-between;
  }

  .left-side {
    display: flex;
    flex-direction: column;
  }

  .button.lesson {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
</style>
<div class="container">
  <div class="left-side">
    <img src="https://via.placeholder.com/150" alt="profile picture">
    <h2>Driezie</h2>
    <p>Joined: 2020</p>
  </div>
  <div class="dashboard">
    <h1>
      Lessons
    </h1>

    <div class="buttons">
        
      <a href="/" class="button lesson">
        <span>1.</span>
        <span>Listening</span>   
        <img src="/svg/music-note.svg" alt="">
      </a>
      
      <a href="/" class="button lesson">
        <span>2.</span>
        <span>Locked</span>   
        <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
      </a>
</div>
    
    <div class="playlists">
      rguuoi
    </div>
  
    <div class="stories">
      rguid
    </div>
  </div>

  <div class="right-side">

  </div>

  

</div>


<%- include('./partials/foot') %>
